<div class="container__big-card">
    <div class="big-card__photo">
        <img 
            src="https://i.stack.imgur.com/luaq2.png" 
            alt=""   
            width="400px"
            height="300px"
            srcset="">
    </div>

    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card__description">
        <p><a href="#">Descrição qualquer qualquer qualquer qualquer qualquer qualquer qualquer qualquer qualquer qualquer qualquer qualquer qualquer qualquer qualquer qualquer qualquer qualquer qualquer qualquer qualquer</a></p>
    </div>
</div>
