<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
                width="400px"
                height="100px"
                alt=""
                srcset="">
        </div>
        <div class="small-card__title">
            <h1><a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores omnis placeat perferendis voluptate animi hic, iure fugiat in natus similique mollitia consequuntur, optio qui quod cupiditate quis odit provident tempora?</a></h1>
        </div>
    </div>
    <div class="container__small-card__separator">
        <hr>
    </div>
</div>
    


